<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>DSD</display-name>
  <description>
     GreenCom Decision Support Dashboard
  </description>
  <security-role>
    <role-name>operator</role-name>
  </security-role>
  <security-role>
    <role-name>aggregator</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DSO operator area</web-resource-name>
      <url-pattern>/secure/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>operator</role-name>
      <role-name>aggregator</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login_error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <welcome-file-list>
    <welcome-file>secure/home.jsp</welcome-file>
  </welcome-file-list>
</web-app>