
<div class="col-md-3" ng-controller="dashDeviceSwitchController">
	<dash-device-switch dash-state="state" dash-label="'Device 1'"
		on-changed="ctrl.onChangedState(name,state)"></dash-device-switch>
</div>
<div class="col-md-3" ng-controller="dashDeviceSwitchController">
	<dash-device-switch dash-state="state" dash-label="'Device 2'"
		on-changed="ctrl.onChangedState(name,state)"></dash-device-switch>
</div>
<div class="col-md-3" ng-controller="dashDeviceSwitchController">
	<dash-device-switch dash-state="state" dash-label="'Device 3'"
		on-changed="ctrl.onChangedState(name,state)"></dash-device-switch>
</div>
<div class="col-md-3" ng-controller="dashDeviceSwitchController">
	<dash-device-switch dash-state="state" dash-label="'Device 4'"
		on-changed="ctrl.onChangedState(name,state)"></dash-device-switch>
</div>
<div class="col-md-3" ng-controller="dashDeviceSwitchController">
	<dash-device-switch dash-state="state" dash-label="'Device 5'"
		on-changed="ctrl.onChangedState(name,state)"></dash-device-switch>
</div>
<div class="col-md-3" ng-controller="dashDeviceSwitchController">
	<dash-device-switch dash-state="state" dash-label="'Device 6'"
		on-changed="ctrl.onChangedState(name,state)"></dash-device-switch>
</div>
<div class="col-md-3" ng-controller="dashDeviceSwitchController">
	<dash-device-switch dash-state="state" dash-label="'Device 7'"
		on-changed="ctrl.onChangedState(name,state)"></dash-device-switch>
</div>
<div class="col-md-3" ng-controller="dashDeviceSwitchController">
	<dash-device-switch dash-state="state" dash-label="'Device 8'"
		on-changed="ctrl.onChangedState(name,state)"></dash-device-switch>
</div>